.checkbox{/* datatable commandes fix */
 text-align: center;
 width:.5rem
}
form#config_plxmyshop{
 max-width: 1680px;
}
#config_plxmyshop fieldset fieldset{
 background-color: rgba(0,0,0,0.1);
}
#config_plxmyshop label{
 line-height: 1;
}
#config_plxmyshop h2{
 margin-top: 0;
 text-align: center;
 color: white;
 background-color: #333;
 border: 1px gray solid;
 border-radius: 1rem;
}
#config_plxmyshop .tabpage {
 border: 1px gray solid;
 border-radius: 1.123rem;
 margin-top: .5rem;
}

legend{
 margin-top: -2.22rem;
 border-top: 1px solid #333;
 border-right: 1px solid #333;
 border-left: 1px solid #333;
}
.tabpage table {
 margin-bottom: 1.5rem;
}
img.lang{
 vertical-align: text-top;
}
button .lang, h2 img.lang{
 vertical-align: middle;
}
img.lang.Active {
 box-shadow: 0px 0px 2px 1px #F01;
}
img.lang.NoActive {
 box-shadow:  0px 0px 2px 1px #ABC;
}
img.lang.Default {
 border: 1px solid goldenrod;
 box-shadow:  0px 0px 2px 1px #FED;

}
img.lang.NoDefault {
 border: 1px solid #FAFAFA;

}
.nombre {
 text-align: right;
}
.noaddcartImg{
 height: 20px;
 margin-right:1rem;
}
.AdminGroupProdLists img.product_image {
 height: 40px;
 max-width: 40px;
}
.page-title {}
.save-button {
 margin-left: 16.18rem; /* approximatif, pousse les autres boutons lors de la config */
}
.return-link .back {/* product|group */
 margin: .5rem 0;
 display: inline-block;
}
.in-action-bar.selector {
 margin-top:8.5rem;
}
.section .in-action-bar h2 {
    font-size: xx-large;
    margin-top: 0;
    margin-bottom: 0;
}
.section .in-action-bar.return-link.selector {
    margin-top: 0;
    z-index: 1;
}
/* surcharge pluxml 5.6 & 5.7 */
.return-link.plx5-6, .return-link.plx5-7 {/* products|groups */
 font-size: inherit;
}
.action-bar.action a{
 text-decoration: none;
}
.action-bar.action {
 margin-top: 0;
 font-size: xx-large;
 line-height: 0;
}
/* surcharge pluxml 5.8.x + 5.9.x */
.action-bar.action button {
 padding: 2rem .33rem;
 font-size: 3rem;
}
.in-action-bar {
 margin-top:6rem;
}
.in-action-bar.xxl{
 margin-top:7.7rem;
 font-size:xx-large;
 line-height:0;
}
/* surcharge pluxml 5.8.x + 5.9.x */
[class*="in-action-bar plx5-8"], [class*="in-action-bar plx5-9"] {
 margin-top: 7rem;
}
[class*="return-link plx5-8"], [class*="return-link plx5-9"] {/* produits  a.back */
/* background-color: rgba(238,238,238,0.8);  si titre prod très long */
 font-size: inherit;
}
.in-action-bar.sel-get{padding: 0;margin-left:20rem;}
.in-action-bar.sel-get.multilingue{margin-left:23rem;}/* showall */
#blocksocoreco, /* Configuration des frais de port */
#blockdelidate{ /* Configuration des horaires et dates livraisons */
 text-align: center;
 border: 1px solid #333;
 padding-bottom: 0.2em;
 margin-bottom: 1em;
 max-width: 640px;
 min-width: 320px;
}
#config_plxmyshop input[type="text"] {width:100%;}
#config_plxmyshop input[type="number"] {max-width:55px;}

/* template : editionProduitAdmin.php with js */
.informationsShortcodeProduit {
 background-color: #CCD;
 padding: 1.2em;
}
.informationsShortcodeProduit .code {
 background-color: #EEF;
}
.image_img{
 float: right;
 height: 160px;
 width: 160px;
}
.image_img img {
 max-height: 160px;
 max-width: 160px;
/* height: 1000%; */
 width: 1000%;
}
/* cases à cocher */
.switch {
 position: relative;
 display: block;
 vertical-align: top;
 width: 106px !important;
 height: 30px;
 padding: 3px;
 margin: 0 10px 10px 0;
 border-radius: 18px;
 box-sizing: border-box;
 cursor: pointer;
 float: right;
}
.switch-input {
 position: absolute;
 top: 0;
 left: 0;
 opacity: 0;
}
.switch-label {
 position: relative;
 display: block;
 height: inherit;
 font-size: 10px;
 background: #eceeef;
 border-radius: inherit;
 box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
}
.switch-label:before, .switch-label:after {
 position: absolute;
 top: 50%;
 margin-top: -.5em;
 line-height: 1;
 -webkit-transition: inherit;
 -moz-transition: inherit;
 -o-transition: inherit;
 transition: inherit;
}
.switch-label:before {
 content: attr(data-off);
 right: 11px;
 color: #FFF;
 text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
 content: attr(data-on);
 left: 11px;
 color: #EEE;
 text-shadow: 0 1px rgba(0, 0, 0, 0.2);
 opacity: 0;
}
.switch-input:checked ~ .switch-label {
 background: #E1B42B;
 box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
 opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
 opacity: 1;
}
.switch-handle {
 position: absolute;
 top: 4px;
 left: 4px;
 width: 28px;
 height: 28px;
 background: linear-gradient(to bottom, #FFF 40%, #f0f0f0);
 background-image: -webkit-linear-gradient(top, #FFF 40%, #f0f0f0);
 border-radius: 100%;
 box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 margin: -6px 0 0 -6px;
 width: 12px;
 height: 12px;
 background: linear-gradient(to bottom, #EEE, #FFF);
 background-image: -webkit-linear-gradient(top, #EEE, #FFF);
 border-radius: 6px;
 box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
 left: 74px;
 box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Transition */
.switch-label, .switch-handle {
 transition: All 0.3s ease;
 -webkit-transition: All 0.3s ease;
 -moz-transition: All 0.3s ease;
 -o-transition: All 0.3s ease;
}

/* Switch Left Right */
.switch-left-right .switch-label {
 overflow: hidden;
}
.switch-left-right .switch-label:before, .switch-left-right .switch-label:after {
 width: 20px;
 height: 20px;
 top: 4px;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 11px 0 0 0;
 text-indent: -12px;
 border-radius: 20px;
 box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.1);
 box-sizing : content-box;
}
.switch-left-right .switch-label:before {
 background: #D00;
 text-align: left;
 padding-left: 80px;
}
.switch-left-right .switch-label:after {
 text-align: left;
 text-indent: 9px;
 background: #0A0;
 left: -100px;
 opacity: 1;
 width: 100%;
}
.switch-left-right .switch-input:checked ~ .switch-label:before {
 opacity: 1;
 left: 100px;
}
.switch-left-right .switch-input:checked ~ .switch-label:after {
 left: 0;
}
.switch-left-right .switch-input:checked ~ .switch-label {
 background: inherit;
}

/* dataTable */
table.dataTable {
 border: none;
}

/* surcharge pluxml 5.6 & 5.7 */
.button{
 padding: 0.3rem 0.7rem;
}

@media (max-width: 767px) {
 .section .action-bar, .section .in-action-bar h2{
  font-size: 1.5rem;
 }
 .in-action-bar {
  text-align: center;
  margin-left: -1rem;
  z-index: 4; /* surchage admin/theme.css ligne 309, sinon impossible de cliquer (plx5.5 5.9) */
 }
 .in-action-bar > input[type="submit"] {
 /* margin-top: 2.5rem; */
  z-index: 800;
 }
 .return-link {
  z-index: 801;
 }
 .in-action-bar.multilingue {
  margin-top: 10rem;
 }
/* surcharge pluxml 5.6 & 5.7 */
 .in-action-bar.plx5-6, .in-action-bar.plx5-7 {
  margin-left: -2rem;
 }
 .return-link.plx5-6.multilingue, .return-link.plx5-7.multilingue {
  margin-top: 8.5rem;
 }
 .in-action-bar.selector {
  margin-top: 8rem;
 }
 .in-action-bar.selector.multilingue {
    margin-top: 12rem;
 }
 .in-action-bar.sel-get, .in-action-bar.sel-get.multilingue{
  padding: 0;
  margin-left: -3.3rem;
 }
 .section .in-action-bar.return-link.selector.multilingue {
   margin-top: 4rem;
 }
}
@media (max-width: 479px) {
 .myhide{
  display: none;
 }
 #mmlangs a {
  margin-right: 2.5px;
 }
}
