#formcart input,
#shoppingCart input,
.lproduct_content input,
.formulaireAjoutProduit input[type="submit"] {
 margin-top: 0.25rem;
 margin-bottom: 0.25rem;
}

/* mini panier : suppr prod */
.formRemProd{
 display:inline;
}
.miniDel{
 text-indent:-10000px;
 direction:ltr;/* thx kzAce */
 width:12px;
 height:3px;
 border:none;
}
input[name="nb"] {
 max-width: 16rem;
}
.nombre {
 text-align: right;
}
/* choix cadeau */
.conteneurNomCadeau {
 display: none;
}
/* liste produits */
.tableauProduitsPanier {
 width: 100%;
 clear: both;
}
.product_name {
 font-weight: bold;
 word-wrap: anywhere;
}
.product_content {
 min-height: 100px;/* 400 */
}
.product_pricettc {
 color: green;
 font-weight: bold;
 font-size: 3rem;
}
.product_poidg {
 font-weight: bold;
}
.product_image {
 width: 99%;
 height: auto;
}
.image_product {
 width: 30%;
 float: right;
 text-align: center;
}
.image_product > .product_image {
 width: 100%;
}
.image_product form {
 text-align: center;
}
.group_image {
 width: 100%;
 text-align: center;
}
.product_footer {
 text-align: center;
}
.product_addcart {
 cursor: pointer;
}

.basket_link_image {
 text-align: right;
}
.red {
 color: #e43d29;
}
.red:hover {
 color: #bc2818;
}

#notiShoppingCart {}
#shoppingCart span button, .lproduct_content, .product_addcart, #btnCart {
 transition: background-color 0.5s;
}
#msgUpDateCart {
 position: fixed;
 display: none;
 left: 0px;
 bottom: 0px;
 width: 100%;
 text-align: center;
 height: 32px;
 background-color: rgba(12,109,0,0.9);
 color: #fff;
 font-weight: bold;
}
.panierbloc {
 display: inline-block;
 width: 100%;
}
.lproduct_content {
 height:100%;
 width: 99.8%;
 margin: .1%;
 padding:.25%;
 background-color: transparent;
 border: 1px solid #dfdfdf;
 border-radius: 2px;
 text-align: center;
  float: left;
}
.lproduct_content:hover {
 background-color: rgba(0,0,0,0.1);
}
.lproduct_content header,.lproduct_content footer {
 text-align: center;
}
.lproduct_content header a img {
 min-height: 125px;
 max-height: 125px;
 width: auto;
 margin: 0px;
}
.lproduct_content footer {
 padding-top: 14px;
 background-color: transparent;
}
.lproduct_pricettc, .lproduct_poidg {
 font-weight: bold;
 font-size: 2.22rem;
 display: block;
}
.lproduct_pricettc {
 color: green;
}
.lnotice_noaddcart {
 text-align: center;
 padding: 2.16rem .1%;
}
.list_products {
 padding: .25%;
 width: 100%;
 text-align: center;
}
#listproducts {
 padding: 5px;
}
.productsect {
 box-shadow: 0px 0px 2px;
 height: 100%;
 padding-bottom: 1em;
}
.productsect header {
 text-align: center;
 margin: 0px;
 font-weight: bold;
}
.startw, .star {color: red;}
.msgyeah {
 color: #fff;
 padding: 1.5rem;
 font-size: large;
 background-color: green;
}
.msgyeah1 {
 font-size: 160%;
 color: darkblue;
}
.msgyeah2 {
 color: green;
}
.msgyeah3 {
 font-size: 100%;
}
.msgerror {
 color: red;
 padding: 1.5rem;
 font-size: x-large;
 font-weight: bold;
 background-color: #cfcfcf50;
}

.spanshippingp {}
#spanshipping {}
#shoppingCart {
 margin: 0.5%;
 overflow: auto;
}
#formcart p {
 margin: 0.2em;
}
#msgCart {
 margin-bottom: 1%;
 width: 100%;
}
#notiNumShoppingCart {
 position: absolute;
 font-size: 16px;
 color: red;
 width: 38px;
 text-align: center;
 margin-top: -7px;
}
.mybasket img,
#notiShoppingCart img{
 vertical-align: sub;
}
.clear{clear: both;}
.fl{float: left;}
.fr{float: right;}
.tal{text-align: left;}
.tac{text-align: center;}
.tar{text-align: right;}
.green, #totalCart {
 color: green;
}
.hide, #formcart, #prodsCart {
 display: none;
}
.twenty,
.thirty,
.forty,
.fifty,
.seventy,
.ninety{
 float:left;
 width:99%;
}
.auto, #methodpayment {
 width: auto;
}
/* info bulle */
.toolTipTop {
  position: relative;
  text-decoration: none;
  color: #222;
  outline: none;
}
.toolTipTop .infobTipTop {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: -70%;
  width: 300px;
  padding: .7rem;
  border: 2px solid #dfdfdf;
  opacity: .9;
  background-color: #fff;
  border-radius: 4px;
}
.toolTipTop:hover {
  border: 0; /* IE6 fix */
}
.toolTipTop:hover .infobTipTop {
  visibility: visible;
}
.toolTipTop .infobTipTop:before,
.toolTipTop .infobTipTop:after{
  content: "";
  position: absolute;
}
@media (min-width: 600px){
 .pl{padding-left: 5%;}
 .twenty{/* #country */
  width: 20%;
 }
 .thirty{/* #postcode, */
  width: 30%;
 }
 .forty{/* #city */
  width: 43%;
 }
 .fifty{/* #firstname, #lastname, #email, #tel */
  width: 47%;
 }
 .seventy{/* #adress */
  width: 75%;
 }
 .ninety{/* #nomCadeau */
  width: 95%;
 }
}
@media (min-width: 600px) or (min-height: 600px){
 .lproduct_content {
  height:calc(100% / 2);
  width: calc(99% / 2);
 }
}
@media (min-width: 900px) or (min-height: 900px){
 .lproduct_content {
  height:calc(100% / 3);
  width: calc(99% / 3);
 }
}
@media (min-width: 1200px) or (min-height: 1200px){
 .lproduct_content {
  height:calc(100% / 4);
  width: calc(99% / 4);
 }
}
/*
@media (min-width: 1500px) or (min-height: 1500px){
 .lproduct_content {
  height:calc(100% / 5);
  width: calc(99% / 5);
 }
}
@media (min-width: 1800px) or (min-height: 1800px){
 .lproduct_content {
  height:calc(100% / 6);
  width: calc(99% / 6);
 }
}
@media (min-width: 2100) or (min-height: 2100px){
 .lproduct_content {
  height:calc(100% / 7);
  width: calc(99% / 7);
 }
}
*/
